bin/
build/
lib/
msg_gen/
srv_gen/
hector_mapping/src/hector_mapping/
hector_nav_msgs/src/hector_nav_msgs/

devel/
build/
bags/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
references/
*/references/
*/cmake-build-debug/
*/cmake-build-release/
*/cmake-build-relwithdebinfo/
*/bags/
*/devel/
*/build/
*.log
*.bag


# Intellij IDEA Project filkes
.idea
*.iml
*.ipr
*.iws
out



